* {
    padding: 0;
    margin: 0;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    box-sizing: border-box;
    color: #444;
}

a {
    text-decoration: none;
    color: #444;
    transition: .4s;
}

a:hover {
    color: #dec129;
}

body::-webkit-scrollbar {
    width: 6px; 
    padding: 3px;
}
  
  body::-webkit-scrollbar-track {
    background: rgb(157, 157, 160);        
}

  body::-webkit-scrollbar-thumb {
    background-color: #6d6d6d;    
    border-radius: 20px;      
} 

/*Form*/

form {
    width: 450px;
    margin: 0 auto;
}

.form-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 1em;
}

.form-group label {
    font-weight: bold;
    font-size: .9em;
    margin-bottom: .4em;
}

.form-group input,
.form-group textarea {
    padding: 1.6em;
    color: #777;
    font-size: 0.8em;
}

input[type=submit] {
    background-color: #efefef;
    border: 2px solid transparent;
    padding: 0.6em 1em;
    font-weight: bold;
    font-size: 1.1em;
    cursor: pointer;
    transition: 0.4s;
}

input[type=submit]:hover {
    color: #DEC129;
    border-color: #DEC129;
    background-color: transparent;

}

.validation-error p {
    color: #dc3545;
    margin-top: .4em;
    border-left: 3px solid #DC3545;
    padding: .2em;
}

.edit-btn,
.remove-btn {
    border: 1px solid #efefef;
    padding: .4em 1em;
    font-size: 1em;
    margin: 0.5em 0;
    cursor: pointer;
    background-color: #fff;
    transition: 0.4s;
}

button fa-icon,
a fa-icon {
    margin-right: 0.2em;
}

.edit-btn,
.edit-btn path {
    border-color: #007BFF;
    color: #007BFF;
}

.edit-btn:hover,
.edit-btn:hover path {
    color: #fff;
    background-color: #007BFF;
}

.remove-btn,
.remove-btn path {
    border-color: #DC3545;
    color: #DC3545;
}

.remove-btn:hover,
.remove-btn:hover path {
    color: #fff;
    background-color: #DC3545;
}